.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 5px;
  background: #282828;
  border-radius: 3px;
}

.skill-per {
  height: 5px;
  background: #7fd7a1;
  /* background: #d13639; */
  border-radius: 3px;
  position: relative;
  animation: fillBars 5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #58c058;
  /* background: #f1f1f1; */
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  /* background: #f1f1f1; */
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  margin: 10px 0;
  background: plum;
  width: 300px;
  height: 400px;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 3s linear infinite;
}

.circle img {
  width: 100%;
  transition: all 0.3s;
}

.circle > img:hover {
  transform: scale(1.2);
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.project-box {
  position: relative;
}

.project-box img {
  transition: scale 0.3s ease;
}

.project-box:hover img {
  scale: 1.2;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.images img {
  padding: 10px;
  width: 300px;
  height: 200px;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.images img:hover {
  transform: scale(1.2);
  z-index: 99;
  filter: grayscale(0);
}

.drop-in {
  animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

#sidebarMenu {
  height: auto;
  position: fixed;
  right: 0;
  top: 20px;
  width: 250px;
  margin-top: 60px;
  transform: translateX(250px);
  transition: transform .3s ease-in-out;
  background: #212121;
  z-index: 100;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu li a {
  color: #fff;
  display: block;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

#openSidebarMenu:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input#openSidebarMenu {
  display: none;
}
.sidebarIconToggle {
  height: 22px;
  width: 22px;
  position: absolute;
  z-index: 99;
  top: 33px;
  right: 30px;
  transition: all 0.3s;
  cursor: pointer;
}
.spinner {
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
.spinner.middle,
.spinner.bottom {
  margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
  opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
  transform: rotate(135deg);
  margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
  transform: rotate(-135deg);
  margin-top: -9px;
}
