@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container {
    /* display: flex; */
    background: url("assets/dark_bg.jpg") no-repeat center;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    z-index: -1;
}

nav {
    display: flex;
    height: 60px;
    padding: 1em 2em 0;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

nav>.left {
    left: 1em;
}

nav>.left>img {
    height: 50px;
}

nav>.right>a {
    padding: 0 20px;
    text-decoration: none;
}

.home_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 20px;
    background-color: transparent;
}

.home_btn>a {
    text-decoration: none;
}

.section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100%;
    /* Adjust the height as needed */
}

.section .left_home {
    display: flex;
    left: 0;
    width: 60%;
    height: 60%;
    /* padding: 20px; */
    /* background-color: #000000; */
    color: #fff;
    align-items: flex-start;
}

.glitch-wrapper {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #000000; */
}

.glitch {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
}

.glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    to {
        transform: translate(0);
    }
}

.section .right_home {
    right: 0;
    width: 40%;
    height: 100%;
    text-align: center;

}

.section>.right_home>img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    bottom: 0;
    right: 0;
}